<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="de" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Footer</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

    <footer class="page-footer" th:fragment="footer" style="text-align: center; border-top: 1px solid rgba(0,0,0,.5); position: fixed; bottom: 0px; width: 100%; height: 40px; line-height: 40px; background-color: white;">
        <a th:href="@{/overview}">Contact us</a> |
        <a th:href="@{/overview}">Imprint</a> |
        <a th:href="@{/overview}">Privacy Policy</a>
    </footer>

</body>
</html>