<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Navbar</title>
    <meta charset="UTF-8" />
    <link href="/spring-thymeleaf/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 20px">


            <a class="navbar-brand" href="#" style="font-size: 30px">
                <img src="/images/logo.jpg" height="70" alt="">
                BogerPay
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="myCollapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/overview}">Overview</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/bankAccount}">Your Bank Account</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/transaction}">Send Payment</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>


                </ul>
            </div>


        </nav>
    </header>

</body>
</html>