div.container {
    width: 100%;
    margin-left: 150px;
    padding-top: 40px;
    margin-bottom: 45px;
    overflow: hidden;
}

div.listsOverview {
    margin-top: 30px;
    width: 650px;
    border: gray 1px solid;
}

div.button-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    margin-top: 40px;
    width: 650px;
}

div.data-overview {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    background-color: gainsboro;
    border-radius: 5px;
}

#left {
    width: 650px;
    float: left;
}

#right {
    width: 300px;
    padding-top: 60px;
    margin-bottom: 45px;
    margin-left: 100px;
    float: left;
}
