<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="UTF-8">
    <title>Bank Account</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/CSS/view.css}">

</head>


<body>

<div th:replace="fragments/navbar :: header"></div>


<div class="container">


    <!-- ERROR -->

    <div th:if="${ibanAlreadyExists}" class="alert alert-danger" role="alert">
        A bank account for this IBAN does already exist!
    </div>

    <div th:if="${deleteError}" class="alert alert-danger" role="alert">
        Deletion failed! Please check if you choose a covered bank account.
    </div>

    <!-- SUCCESS -->

    <div th:if="${creationSuccess}" class="alert alert-success" role="alert">
        Your bank account was successfully created!
    </div>



    <div id="left">


        <!-- ADD BANK ACCOUNT -->

        <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 650px; margin-top: 20px" data-toggle="collapse" data-target="#addBankAccount">+ Add Bank Account</button>


        <div id="addBankAccount" class="collapse" style="padding-top: 30px">

            <form th:action="@{/bankAccount/create}" th:method="post">

                <h3 class="h3 mb-3 font-weight-normal">Please fill out the form</h3>

                <div class="col-sm-12" style="margin-top: 25px">

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>IBAN</label>
                            <input th:name="iban" type="text" placeholder="IBAN" class="form-control" autofocus>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>BIC</label>
                            <input th:name="bic" type="text" placeholder="BIC" class="form-control" autofocus>
                        </div>
                    </div>

                </div>

                <button class="btn btn-lg btn-primary btn-block" style="width: 650px" type="submit">Create Bank Account</button>

            </form>

        </div>



        <!-- LIST BANK ACCOUNTS -->

        <div style="margin-bottom: 20px; padding: 20px" th:each="bankAccount : ${bankAccountsList}" th:if="${!bankAccount.isArchived()}" class="listsOverview">

            <table class="table">

                <tbody>

                <tr>
                    <td>IBAN</td>
                    <td><span th:text="${bankAccount.getIBAN()}"></span></td>
                </tr>
                <tr>
                    <td>BIC</td>
                    <td><span th:text="${bankAccount.getBIC()}"></span></td>
                </tr>
                <tr>
                    <td>Bank Balance</td>
                    <td><span th:text="${bankAccount.getBalanceFormatted()}"></span></td>
                </tr>


                </tbody>

            </table>



            <!-- DELETE BANK ACCOUNT -->

            <button class="btn btn-primary" data-toggle="collapse" data-target="#deleteBankAccount">Delete this bank account</button>

            <div id="deleteBankAccount" class="collapse" style="padding-top: 30px">

                <form th:action="@{/bankAccount/delete}" method="post">

                    <h5 style="margin-bottom: 20px">You need to select another bank account to transfer the money before it can be deleted!</h5>

                    <div style="margin-bottom: 5px" class="row">
                        <div class="col-6">
                            <label class="" for="selectTransferBankAccount">Choose bank account:</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-6" style="margin-bottom: 20px">
                            <select th:name="transferIBAN" class="custom-select" id="selectTransferBankAccount">
                                <option th:each="bankAccount : ${bankAccountsList}"
                                        th:value="${bankAccount.getIBAN()}"
                                        th:text="${bankAccount.getIBAN()}"></option>
                            </select>
                        </div>

                        <button type="submit" style="margin-bottom: 20px; margin-left: 10px" class="btn btn-outline-danger">Confirm deletion</button>

                    </div>

                    <input type="hidden" th:name="deleteIBAN" th:value="${bankAccount.getIBAN()}" />
                    <input type="hidden" th:name="amount" th:value="${bankAccount.getBankBalance()}" />
                    <input type="hidden" th:name="reference" th:value="${'Deletion of bank account : ' + bankAccount.getIBAN()}" />

                </form>

            </div>

        </div>


    </div>


    <div id="right">

        <img th:src="@{/images/money.jpg}" width="300">
        <img th:src="@{/images/money.jpg}" width="300">

    </div>


</div>


<div th:replace="fragments/footer.html :: footer"></div>

</body>


</html>