<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="UTF-8">
    <title>Overview</title>
    <link href="/spring-thymeleaf/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/CSS/view.css}">

</head>


<body>

<div th:replace="fragments/navbar :: header"></div>


<div class="container">

    <section class="jumbotron">


        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4">
                    <img class="float-right" style="width: 100px" th:src="@{/images/coffee.jpg}">
                </div>

                <div class="col-md-8">
                    <h3 class="float-left" style="padding-bottom: 10px">Oh no, something went wrong! </h3>
                    <h3 class="float-left">Please return to your overview.</h3>
                </div>

            </div>
        </div>


    </section>

</div>


<div th:replace="fragments/footer.html :: footer"></div>


</body>
</html>