<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="de" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/CSS/login.css}">

</head>




<body class="text-center">

<div class="container">

    <!-- ERROR -->

    <div th:if="${loginError}" class="alert alert-danger" role="alert">
        <a>Could not sign in!</a>
        <a>Did you enter the correct email or password?</a>
    </div>

    <!-- SUCCCESS -->

    <div th:if="${creationSuccess}" class="alert alert-success" role="alert">
        Your account was successfully created!
        Feel free to sign in
    </div>

    <form class="form-signin" th:action="@{/login}" th:method="post">

        <img src="/images/logo.jpg" alt="" width="260">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <div>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" th:name="username" placeholder="Email address" required autofocus/>
        </div>

        <div>
            <label for="inputPassword" class="sr-only">password</label>
            <input type="password" id="inputPassword" class="form-control" th:name="password" placeholder="Password" required/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    </form>

    <form class="form-signin" th:action="@{/register}" th:method="post">

        <p style="margin-top: 25px">No Account yet?</p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register now!</button>

    </form>

</div>

</body>

</html>