<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="UTF-8">
    <title>Overview</title>
    <link href="/spring-thymeleaf/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/CSS/view.css}">

</head>


<body>

<div th:replace="fragments/navbar :: header"></div>


<div class="container">

    <!-- SUCCESS -->

    <div th:if="${editSuccess}" class="alert alert-success" style="width: 100%; text-align: center" role="alert">
        Your address was successfully changed!
    </div>


    <!-- USER DATA OVERVIEW -->

    <div class="data-overview">

        <h3 style="padding-bottom: 10px; text-align: center">Welcome <span th:text="${userAccount.getFormOfAddress()}"></span> <span th:text="${userAccount.getLastname()}"></span></h3>

        <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 600px; margin-top: 40px; margin-left: 250px" data-toggle="collapse" data-target="#personalInformation">
            View your personal information here
        </button>

        <div id="personalInformation" class="collapse" style="margin-top: 30px; padding-left: 30px; width: 600px; margin-left: 250px">

            <table class="table">

                <tbody>

                <tr>
                    <th>Personal Information</th>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><span th:text="${userAccount.getFirstname()}"></span></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><span th:text="${userAccount.getLastname()}"></span></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><span th:text="${userAccount.getEmail()}"></span></td>
                </tr>

                <tr>
                    <th>Address</th>
                </tr>
                <tr>
                    <td>Street</td>
                    <td><span th:text="${userAccount.getAddress().getStreet()}"></span> <span th:text="${userAccount.getAddress().getHouseNumber()}"></span></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><span th:text="${userAccount.getAddress().getPostCode()}"></span> <span th:text="${userAccount.getAddress().getCity()}"></span></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><span th:text="${userAccount.getAddress().getCountry()}"></span></td>
                </tr>

                </tbody>

            </table>

            <!-- EDIT ADDRESS -->

            <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 510px; margin-top: 20px" data-toggle="modal" data-target="#myModal">
                Edit address
            </button>

            <div class="modal fade" id="myModal">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Edit address</h4>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body modal-lg">

                            <h5>Please fill out the form</h5>

                            <form th:action="@{/userAccount/edit}" th:method="post">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>Street Name</label>
                                            <input th:name="street" type="text" placeholder="Street Name" class="form-control" autofocus>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>House Number</label>
                                            <input th:name="houseNumber" type="text" placeholder="House Number" class="form-control" autofocus>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>Post Code</label>
                                            <input th:name="postCode" type="text" placeholder="Post Code" class="form-control" autofocus>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>City</label>
                                            <input th:name="city" type="text" placeholder="City" class="form-control" autofocus>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>Country</label>
                                            <input th:name="country" type="text" placeholder="Country" class="form-control" autofocus>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center" style="padding-bottom: 35px">Manage your bank accounts</h4>

                    <img class="card-img-top" th:src="@{/images/manage.jpg}" alt="Card image cap">

                    <div class="card-body">
                        <p class="card-text" style="text-align: center">Add your bank accounts and get an overview of your assets and keep an eye on your finances.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center" style="padding-bottom: 35px">Transfer money worldwide</h4>

                    <img class="card-img-top" th:src="@{/images/transaction.jpg}" alt="Card image cap">

                    <div class="card-body">
                        <p class="card-text" style="text-align: center">Send and receive money easily by creating transactions for individual bank accounts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/footer.html :: footer"></div>


</body>
</html>