<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="de" xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8">
    <title>Register</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/CSS/view.css}">

</head>


<body>

<div class="container" style="margin-left: 1px; width: 99%; padding-top: 10px">
    <h1 class="well">Registration Form</h1>
    <div class="col-lg-12 well">
        <div class="row">

            <!-- ERROR -->

            <div th:if="${emailError}" class="alert alert-danger" role="alert" style="width: 100%">
                This Email Address is already in use!
            </div>


            <form th:action="@{/createAccount}" th:method="post">
                <div class="col-sm-12">


                    <p class="h3">Personal Information</p>

                    <div class="row">

                        <div class="col-sm-6 form-group form-check form-check-inline">
                            <input th:name="formOfAddress" class="form-check-input" type="radio" name="genderOptions" id="radioWoman" value="Mrs" autofocus>
                            <label class="form-check-label" for="radioWoman">Mrs</label>
                        </div>

                        <div class="col-sm-6 form-group form-check form-check-inline">
                            <input th:name="formOfAddress" class="form-check-input" type="radio" name="genderOptions" id="radioMan" value="Mr" autofocus>
                            <label class="form-check-label"for="radioMan">Mr</label>
                        </div>
                    </div>



                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <label>First Name</label>
                            <input th:name="firstname" type="text" placeholder="First Name" class="form-control" autofocus>
                        </div>


                        <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                            <input th:name="lastname" type="text" placeholder="Last Name" class="form-control" autofocus>
                        </div>

                    </div>


                    <p class="h3">Address</p>

                    <div class="row">


                        <div class="col-sm-8 form-group">
                            <label>Street Name</label>
                            <input th:name="street" type="text" placeholder="Street Name" class="form-control" autofocus>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label>House Number</label>
                            <input th:name="houseNumber" type="text" placeholder="House Number" class="form-control" autofocus>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-4 form-group">
                            <label>City</label>
                            <input th:name="city" type="text" placeholder="City" class="form-control" autofocus>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label>Post Code</label>
                            <input th:name="postCode" type="text" placeholder="Post Code" class="form-control" autofocus>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label>Country</label>
                            <input th:name="country" type="text" placeholder="Country" class="form-control" autofocus>
                        </div>

                    </div>


                    <p class="h3">User Data</p>


                    <div class="form-group">
                        <label>Email Address</label>
                        <input th:name="email" type="text" placeholder="Email Address" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input th:name="password" autocomplete="off" type="text" placeholder="Password" class="form-control">
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Create your Account!</button>

                </div>
            </form>


            <form th:action="@{/login}" th:method="post">

                <div class="col-sm-12">

                    <p class="h5" style="margin-top: 25px; text-align: center">Already have an Account?</p>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in!</button>

                </div>

            </form>

        </div>
    </div>

</div>


</body>

<div th:replace="fragments/footer :: footer"></div>

</html>