<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="UTF-8">
    <title>Transaction</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/CSS/view.css}">

</head>


<body>

<div th:replace="fragments/navbar :: header"></div>


<div class="container">

    <!-- ERROR -->

    <div th:if="${creationFail}" class="alert alert-danger" role="alert">
        Your transaction could not be made. Please check if you choose a covered bank account!
    </div>

    <div th:if="${sameIBANError}" class="alert alert-danger" role="alert">
        Transactions to the same bank account can't be made!
    </div>


    <!-- SUCCESS -->

    <div th:if="${creationSuccess}" class="alert alert-success" role="alert">
        Your transaction was successfully made!
    </div>



    <div id="left">


        <!-- REQUEST BANK STATEMENT -->

        <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 650px; margin-top: 20px" data-toggle="modal" data-target="#myModal">
            Get your bank statements
        </button>

        <div class="modal fade" id="myModal">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Bank statement request</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <h5>Receive a bank statement for made transactions of all your bank accounts</h5>

                        <form th:action="@{/bankStatement/request}" th:method="post">

                            <div class="col-sm-12" style="margin-top: 30px">

                                <div class="row">
                                    <div class="col-6">
                                        <label class="" for="selectBankStatementBankAccount">Select a bank account from which the shipping costs should be deducted:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <select th:name="bankStatementIBAN" class="custom-select" id="selectBankStatementBankAccount">
                                            <option th:each="bankAccount : ${bankAccountsList}"
                                                    th:value="${bankAccount.getIBAN()}"
                                                    th:text="${bankAccount.getIBAN()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <h5 style="margin-top: 30px">Document Size</h5>

                                <p>Select the size in which the bank statements should be sent</p>

                                <div class="form-group form-check" style="margin-top: 20px">
                                    <input th:name="documentOption" class="form-check-input" type="radio" name="documentOption" id="standard" value="standard" checked>
                                    <label class="form-check-label" for="standard">
                                        Standard Document ( + 0.80 € DIN A5 )
                                    </label>
                                </div>

                                <div class="form-group form-check">
                                    <input th:name="documentOption" class="form-check-input" type="radio" name="documentOption" id="large" value="large">
                                    <label class="form-check-label" for="large">
                                        Large Document ( + 2.00 € DIN A4 )
                                    </label>
                                </div>

                                <h5 style="margin-top: 30px">Delivery Option</h5>

                                <p>You can also select express delivery to receive the bank statements faster or choose a special delivery in form of registered mail</p>

                                <div class="form-group form-check" style="margin-top: 20px">
                                    <input th:name="deliverOption" class="form-check-input" type="radio" name="deliverOption" id="express" value="express">
                                    <label class="form-check-label" for="express">
                                        Express Delivery ( + 5.00 € )
                                    </label>
                                </div>

                                <div class="form-group form-check">
                                    <input th:name="deliverOption" class="form-check-input" type="radio" name="deliverOption" id="special" value="special">
                                    <label class="form-check-label" for="special">
                                        Special Delivery ( + 10.00 € )
                                    </label>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Request</button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>



        <!-- ADD TRANSACTION -->

        <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 650px; margin-top: 30px" data-toggle="collapse" data-target="#addTransaction">+ Send Payment</button>

        <div id="addTransaction" class="collapse" style="padding-top: 30px">

            <form th:action="@{/transaction/execute}" th:method="post">

                <h3 class="h3 mb-3 font-weight-normal">Please fill out the form</h3>

                <div class="col-sm-12" style="margin-top: 25px">

                    <div class="row">
                        <div class="col-12">
                            <label class="" for="selectTransferBankAccount">Choose you bank account:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <select th:name="consignorIBAN" class="custom-select" id="selectTransferBankAccount">
                                <option th:each="bankAccount : ${bankAccountsList}"
                                        th:value="${bankAccount.getIBAN()}"
                                        th:text="${bankAccount.getIBAN()}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" style="margin-top: 15px">

                    <h4>Recipient information</h4>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Name / Company</label>
                            <input th:name="recipientName" type="text" placeholder="Recipient Name" class="form-control" autofocus>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>IBAN</label>
                            <input th:name="recipientIBAN" type="text" placeholder="Recipient IBAN" class="form-control" autofocus>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Amount</label>
                            <input th:name="amount" type="text" placeholder="0.00 €" class="form-control" autofocus>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Reference</label>
                            <input th:name="reference" type="text" placeholder="Reference" class="form-control" autofocus>
                        </div>
                    </div>

                </div>

                <button class="btn btn-lg btn-primary btn-block" style="width: 650px" type="submit">Make Transaction</button>

            </form>

        </div>



        <!-- LIST OF TRANSACTIONS -->

        <div style="margin-bottom: 20px; padding: 20px" th:each="transaction : ${transactionsList}" class="listsOverview">

            <table class="table">

                <tbody>

                <tr>
                    <td>Your Bank Account</td>
                    <td><span th:text="${transaction.getConsignor().getIBAN()}"></span></td>
                </tr>

                <tr>
                    <td>Recipient Name</td>
                    <td><span th:text="${transaction.getRecipientName()}"></span></td>
                </tr>

                <tr>
                    <td>Recipient Bank Account</td>
                    <td><span th:text="${transaction.getRecipient().getIBAN()}"></span></td>
                </tr>

                <tr>
                    <td>Time</td>
                    <td><span th:text="${transaction.getTimestamp()}"></span></td>
                </tr>

                <tr>
                    <td>Amount</td>
                    <td><span th:text="${transaction.getAmountFormatted()}"></span></td>
                </tr>

                <tr>
                    <td>Reference</td>
                    <td><span th:text="${transaction.getReference()}"></span></td>
                </tr>

                </tbody>

            </table>

        </div>


    </div>


    <div id="right">

        <img th:src="@{/images/money.jpg}" width="300">
        <img th:src="@{/images/money.jpg}" width="300">

    </div>


</div>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>


</html>